.custom-bg{
    background-color: #111111;
    text-align: center;
}

.bg-purple{
    background: linear-gradient(90deg,violet 0%,blueviolet 100%);
    transition: 1s,
}

.purple-text {
    background: linear-gradient(90deg,violet 0%,blueviolet 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}

.bg-purple:hover{
    background: white;
    color: violet;

}

